.App .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(45, 45, 45, 0.8);
}

.App .overlay .add-movie-container {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -260px;
    margin-top: -210px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    color: #222;
}

.App .overlay .add-movie-container .add-movie-form {
    width: 100%;
    text-align: left;
}

.App .overlay .add-movie-container .add-movie-form legend {
    text-align: center;
}

.App .overlay .add-movie-container .add-movie-form .mui-textfield--float-label>label {
    overflow: hidden;
}

.App .overlay .add-movie-container .add-movie-form .mui-textfield>input:focus,
.App .overlay .add-movie-container .add-movie-form .mui-textfield>textarea:focus {
    border-color: #FF424F;
}

.App .overlay .add-movie-container .add-movie-form .mui-textfield>input:focus~label,
.App .overlay .add-movie-container .add-movie-form .mui-textfield>textarea:focus~label {
    color: #FF424F;
}
